@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;

  /* font-family: "Inter", sans-serif; */
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: "Nunito", sans-serif; */
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.9rem;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: "Hack", monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
